.myAnotations{
  display: grid;
  justify-content: center;
  text-align: center;
  
}

.posts{
  display: grid;
  background-color: #a6e3c6;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.8);
  width: 30vw;
  height: 50vh;
  padding: 0.8vw;
  margin-top: 3vh;
}
input, textarea{
  width: 100%;
  resize: none;
}
.rodape{
  display: grid;
  grid-template-columns: auto;
  
}
