
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color:#8ABFA6;
    ;
}