.containerC {
  max-width: 1000px;
  height: 130px;
  background: #a6e3c6;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin: 30px auto;
}

.boxdata {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

.boxdata > div {
  display: flex;
  gap: 2rem;
  font-weight: bold;
}

.diasSem {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dia {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.dia .sem {
  font-size: 20px;
  font-weight: 700;
}

.dia .num {
  width: 30px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 254, 254, 0.26);
  border-radius: 5px;
}
