* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: black;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

#form-login {
  background-color: #8abfa6;
  padding: 1.5em;
  width: 320px;
  border-radius: 5px;
  text-align: center;
}

#currentPage {
  border-bottom: 1px solid black;
}

#submenu {
  width: 100%;
  padding-bottom: 20px;
}

#submenu h4 {
  margin: 20px;
  display: inline;
  padding-bottom: 10px;
}

#submenu h4:hover {
  border-bottom: 1px solid black;
}

.field {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  color: #23232e;
  background-color: #aad3c0;
}

.field legend {
  font-size: 14px;
  text-align: left;
}

.field input {
  width: 100%;
  outline: none;
  font-size: 16px;
  background-color: #aad3c0;
  border: none;
}

#btn-submit {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: rgb(116, 65, 167);
  color: white;
  margin-top: 40px;
}
